/* Center the signup form on the page */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c6def1;
    overflow: hidden;
  }
  
  /* Style the signup form */
  .signup-box {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 100vh;
    width: 300px;
    text-align: center;
  }
  
  /* Welcome text styling */
  .signup-box h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #333;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family: 'Gravitas One', sans-serif;
  }
  
  /* Input fields for first name, last name, email, username, and password */
  .signup-box input[type="text"],
  .signup-box input[type="email"],
  .signup-box input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  /* Button styling */
  .signup-box button {
    width: 100%;
    padding: 0.75rem;
    background-color: #c9e4d3;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Add spacing between buttons */
  .signup-box .signup-button {
    margin-bottom: 1rem; /* Space between signup and login redirect buttons */
  }
  
  .signup-box button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
  
  .signup-box button:hover {
    background-color: #9bccad;
  }
  
  /* Link to login page */
  .signup-box .login-link {
    background: none;
    border: none;
    color: #007bff;
    text-decoration: underline;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .signup-box .login-link:hover {
    color: #0056b3;
    background: #c6def1;
  }
  
  /* Error message styling */
  .signup-box .error-message {
    color: red;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    text-align: left;
  }
  
  /* Success message styling */
  .signup-box .success-message {
    color: green;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    text-align: left;
  }
  