/* Center the login form on the page */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #c6def1;
  overflow: hidden;
}

/* Style the login form */
.login-box {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 100vh;
  width: 300px;
  text-align: center;
}

/* Welcome text styling */
.login-box h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #333;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: 'Gravitas One', sans-serif;
}

/* Username and password input fields */
.login-box input[type="text"],
.login-box input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

/* Button styling */
.login-box button {
  width: 100%;
  padding: 0.75rem;
  background-color: #c9e4d3;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

/* Add spacing between buttons */
.login-box .login-button {
  margin-bottom: 1rem; /* Space between login and signup buttons */
}

.login-box button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.login-box button:hover:enabled {
  background-color: #9bccad;
}

/* Signup button */
.login-box .signup-button {
  background-color: #c9e4d3;
  color: white;
}
