@import url("https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet');

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 55px;
}

@keyframes slideDown {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}

.settings-dialog {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  padding-top: 25px;
  width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  position: relative;
  animation: slideDown 0.5s ease-out;
  overflow: hidden;
  border: 3px solid black;
}

.settings-dialog::before {
  content: "";
  position: absolute;
  top: 25px; /* Adjust as needed */
  left: 60px;
  width: 4px; /* Thickness of the vertical line */
  height: 100%; /* Extends the full height of the container */
  background-color: black;
}

.settings-dialog::after {
  content: "";
  position: absolute;
  top: 25px; /* Change value to change place of line */
  left: 0;
  width: 100%; /* Extends the full width of the container */
  height: 4px;
  background-color: black;
}

.rotated-text {
  writing-mode: vertical-lr;
  font-size: 2em;
  font-family: "Gravitas One", sans-serif;
  font-weight: bold;
  margin-right: 15px;
  background-color: white;
  display: flex;
  align-items: center;

  transform: rotate(180deg);
}

.settings-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 20px;
}

.settings-header {
  display: flex;
  align-items: center;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: 0px;
  color: black;
}

.settings-content {
  display: flex;
  gap: 20px;
}

.Daily-Reminder-Time {
  background-color: #c6def1;
  width: 300px;
  height: 100px;
  
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  padding: 5px;
  
}
/*
.time-display {
  margin-top: 10px;
}

.hour-display {
  background-color: #dbcdf0;
  padding: 3px 5px;
  border-radius: 8px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
}
.colon-display {
  background-color: #c6def1;
  font-weight: bold;
  padding: 2px 2px;
  border-radius: 8px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
}
.minute-display {
  background-color: #dbcdf0;
  padding: 3px 5px;
  border-radius: 8px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
}
.AM-or-PM {
  background-color: #dbcdf0;
  padding: 3px 5px;
  border-radius: 8px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
}
*/

/* Days to Remind */

.Days-to-Remind {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  background-color: #faedcb;
  float: right;
  padding: 5px;
  width: 400px;
  border-radius: 8px;
}

.remind-days-buttons {
  display: flex;
  gap: 2px;
  justify-content: space-around;
  margin-top: 15px;
}

.day-button {
  padding: 11px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #f0f0f0;
  /*background-color: #F2C6DE;*/
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
}

.day-button:hover {
  background-color: #c4b0e4;
}

.day-button.active {
  background-color: #f2c6de; /* highlight with pink */
  color: white;
}

/*Source: https://github.com/wojtekmaj/react-time-picker/blob/main/packages/react-time-picker/src/TimePicker.css*/
.time-picker-container {
  border-radius: 4px;
  padding: 3px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-picker-input {
  background-color: #dbcdf0; 
  border: none;
  border-radius: 8px;
  padding: 3px 5px;
  font-size: 1.2em;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}



.time-picker-buttons button {
  background-color: #dbcdf0; 
  border-radius: 2px;
  border: none;
  padding: 2px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  margin: 2px;
}

.time-picker-buttons button:hover {
  background-color: #c4b0e4;
}

.time-picker-buttons button.active {
  background-color: #f2c6de; 
  color: white;
}


.react-time-picker {
    display: inline-flex;
    position: relative;
  }
  
  .react-time-picker,
  .react-time-picker *,
  .react-time-picker *:before,
  .react-time-picker *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .react-time-picker--disabled {
    background-color: #f0f0f0;
    color: #6d6d6d;
  }
  
  .react-time-picker__wrapper {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    border: thin solid gray;
  }
  
  .react-time-picker__inputGroup {
    min-width: calc((4px * 3) + 0.54em * 6 + 0.217em * 2);
    flex-grow: 1;
    padding: 0 2px;
    box-sizing: content-box;
  }
  
  .react-time-picker__inputGroup__divider {
    padding: 1px 0;
    white-space: pre;
  }
  
  .react-time-picker__inputGroup__divider,
  .react-time-picker__inputGroup__leadingZero {
    display: inline-block;
    font: inherit;
  }
  
  .react-time-picker__inputGroup__input {
    min-width: 0.54em;
    height: 100%;
    position: relative;
    padding: 0 1px;
    border: 0;
    background: none;
    color: currentColor;
    font: inherit;
    box-sizing: content-box;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  .react-time-picker__inputGroup__input::-webkit-outer-spin-button,
  .react-time-picker__inputGroup__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  
  .react-time-picker__inputGroup__input:invalid {
    background: rgba(255, 0, 0, 0.1);
  }
  
  .react-time-picker__inputGroup__input--hasLeadingZero {
    margin-left: -0.54em;
    padding-left: calc(1px + 0.54em);
  }
  
  .react-time-picker__inputGroup__amPm {
    font: inherit;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
  }
  
  .react-time-picker__button {
    border: 0;
    background: transparent;
    padding: 4px 6px;
  }
  
  .react-time-picker__button:enabled {
    cursor: pointer;
  }
  
  .react-time-picker__button:enabled:hover .react-time-picker__button__icon,
  .react-time-picker__button:enabled:focus .react-time-picker__button__icon {
    stroke: #0078d7;
  }
  
  .react-time-picker__button:disabled .react-time-picker__button__icon {
    stroke: #6d6d6d;
  }
  
  .react-time-picker__button svg {
    display: inherit;
  }
  
  .react-time-picker__clock {
    width: 200px;
    height: 200px;
    max-width: 100vw;
    padding: 25px;
    background-color: white;
    border: thin solid #a0a096;
    z-index: 1;
  }
  
  .react-time-picker__clock--closed {
    display: none;
  }


